<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: header"></head>

<body>

	<nav th:replace = "layouts :: navbarHead"></nav>

	<div class="container">
		<h4> Current Employee </h4>
		
		<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">Register New Employee</a>
		
		<hr>
	</div>
	
	<div class="container">
	
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th> Employee First Name </th>
					<th> Employee Last Name </th>
					<th> Employee Email </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aEmployee : ${listEmp}">
					<td th:text="${aEmployee.first_name}">
					<td th:text="${aEmployee.last_name}">
					<td th:text="${aEmployee.email}">
				</tr>			
			</tbody>
			
		</table>
		
	</div>
	
</body>
</html>