<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: header"></head>

<body>

<nav th:replace = "layouts :: navbarHead"></nav>

	<div class="container">
		<form action="/employees/register" method="post" th:object="${aEmployee}">
		
		<input type="text" placeholder="First Name" th:field="${aEmployee.first_name}">
		<input type="text" placeholder="Last Name" th:field="${aEmployee.last_name}">
		<input type="text" placeholder="Email" th:field="${aEmployee.email}">
		
		
		
		<button type="submit">Register Employee</button>
		
		</form>
	</div>


</body>

</html>