<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: header"></head>

<body>

<nav th:replace = "layouts :: navbarHead"></nav>

	<div class="container">
		<form th:action="@{/employees/register}" method="post" th:object="${aEmployee}">
		
			<input type="text" placeholder="First Name" th:field="${aEmployee.first_name}">
			<input type="text" placeholder="Last Name" th:field="${aEmployee.last_name}">
			<input type="text" placeholder="Email" th:field="${aEmployee.email}">
			
			
			
			
			
			<!-- "/register/save" end point에서는 "redirect"를 사용하고 있다 -->
			<!-- "redirect"는 form과 함께 "csrf token"가 필요하다 -->
			<!-- Therefore, form의 submit 버튼 전 그리고 마지막 input 후에 "input hidden"으로 csrf token을 같이 form과 함께 보내야한다 -->
			<!-- 이 "csrf token"은 server에서 보내주는 것이다 -->
			
			<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"/> -->
			
			<!-- form action을 thymeleaf action으로 사용하면, "th:action" 우리는 위의 hidden 코드도 필요없다!!! -->
			
			
			
			
			
			<button type="submit">Register Employee</button>
		
		</form>
	</div>


</body>

</html>