<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: header">
</head>


<body>

<nav th:replace = "layouts :: navbarHead"></nav>

<br>

	<h2 class="text-center"> Employee Work Timelines </h2>
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
	
		var chartData = "[[${aEmployeeTimeline}]]";
		var chartDataDecoded = decodeHtml(chartData);
		var chartJsonArray = JSON.parse(chartDataDecoded);
		var resultArr = [];
		
		for(var i in chartJsonArray){
			resultArr.push([i, chartJsonArray[i]]);
		}
		
		google.charts.load('current', {'packages':['timeline']});
	    google.charts.setOnLoadCallback(drawChart);
	    
	    
		
	    function drawChart(){
	    	
	    	var container = document.getElementById('chart_div');
	        var chart = new google.visualization.Timeline(container);
	        var dataTable = new google.visualization.DataTable();
	    	
	    	dataTable.addColumn({ type: 'string', id: 'Email'});
	    	dataTable.addColumn({ type: 'date', id: 'Start'});
	    	dataTable.addColumn({ type: 'date', id: 'End'});
	    	
	    	for(var i = 0; i < resultArr.length; i++){
	    		dataTable.addRows([
	    			[resultArr[i][1]["email"],
	    				new Date(resultArr[i][1]["startDate"]),
	    				new Date(resultArr[i][1]["endDate"])]
	    		]);	
	    	}
	    	
	    	chart.draw(dataTable);
	    	
	    }
	    
		
		
		
	    function decodeHtml(html) {
		    var txt = document.createElement("textarea");
		    txt.innerHTML = html;
		    return txt.value;
		}
	
	</script>
	
	<div id="chart_div"></div>
	
	
</body>

</html>