<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../static/style/home.css">

</head>

<body>

	<div>
		<h4> Current Projects </h4>
		
		<table>
			<thead>
				<tr>
					<th> Projects Name </th>
					<th> Projects Stage </th>
				</tr>		
			</thead>
			<tbody>
				<tr th:each="aProject : ${projectsList}" >
					<td th:text="${aProject.projectName}" />
					<td th:text="${aProject.projectStage}" />
				</tr>		
			</tbody>
		</table>
	</div>
	
	<hr>
	
	<div>
		<h4> Current Employees </h4>
		
		<table>
			<thead>
				<tr>
					<th> Employee First Name </th>
					<th> Employee Last Name </th>
					<th> Employee Email </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aEmployee : ${employeesList}">
					<td th:text="${aEmployee.firstName}">
					<td th:text="${aEmployee.lastName}">
					<td th:text="${aEmployee.email}">
				</tr>
			</tbody>
		</table>
	</div>


</body>

</html>